
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>The Login-Animated Website Template | Home :: w3layouts</title>
    <meta charset="utf-8">
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body>
    <div class="login-form">
        <h1>Send Message ID</h1>
        <form action="ForgotAction" method="post">
            <li>
                <input type="text" class="text" name="sdt" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}"><a href="#" class=" icon user"></a>
            </li>

            <div class="forgot">
                <input type="submit" onclick="myFunction()" value="Send"> <a href="#" class=" icon arrow"></a>                                                                                                                                                                                                                                 </h4>
            </div>
        </form>
    </div>
</body>
</html>
