
@{
    ViewBag.Title = "Bloger";
    Layout = "~/Views/Shared/_LayoutOverView.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="product">
            <h1>Blog</h1>
            <p>Home / Blog</p>
        </div>
    </div>
</div>

