
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutOverView.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-commerce</title>
    <link href="~/Content/Layout/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Layout/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Layout/css/contcatuscss.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Layout/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Layout/css/Aboutcss.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Layout/css/animate.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="map">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d425503.74992454686!2d89.85735848575402!3d24.688460614346127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1490420448482" width="1150" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contactform">
            <div class="row">
                <div class="col-md-3">
                    <h1>Contact Info</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.</p>
                    <h4>The Company Name Inc.</h4>
                    <h4>9870 St Vincent Place,</h4>
                    <h4>Glasgow, DC 45 Fr 45.</h4>
                    <h4>Telephone: +1 800 603 6035.</h4>
                    <h4>FAX: +1 800 889 9898.</h4>
                </div>
                <div class="col-md-8">
                    <div class="conatct">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Name</label>
                                <input type="text1" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                            </div>
                            <button type="submit" class="btn btn-default">Send invitation</button>
                        </form>
                        <div class="textarea">
                            <textarea class="form-control" placeholder="Message" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   css found in style.css-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/npm.js"></script>
    <!-- Code injected by live-server -->
    <script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
    </script>

</body>