
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOverView.cshtml";
}

<h2>Thông tin của chúng tôi</h2>
<div class="container">
    <div class="col-md-12">
        <div class="product">
            <h1>Thông tin</h1>
            <p>Trang chủ / Thông tin</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="aboutpart">
        <div class="col-md-12">
            <h1><span style="padding-right: 10px;">●</span> Chúng tôi là:</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="aboutpartimg3"> <img src="~/Content/Layout/image/img1.jpg"> </div>
                </div>
                <div class="col-md-8">
                    <div class="textpart">
                        <h5>Sơ lược về chúng tôi</h5>
                        <p> Nhóm thiết kế gồm Nguyễn Trinh Sơn KHMT17 và Nguyễn Huy Hoàng Anh CNTT17. Đây là sản phẩm bài tập lớn của chúng tôi.</p>
                        <button class="button3 button3">Đọc Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="ourteam">
        <div class="col-md-12">
            <h1> <span style="padding-right: 10px;">●</span>Our Team</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="img4 text-center">
                        <img src="~/Content/Layout/image/Depositphotos_13593740_original.jpg">
                        <h5>Nguyễn Trinh Sơn</h5>
                        <p>Thông tin cá nhân</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img4 text-center">
                        <img src="~/Content/Layout/image/Depositphotos_3357499_original2.jpg">
                        <h5>Nguyễn Huy Hoàng Anh</h5>
                        <p>Thông tin cá nhân</p>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="img4 text-center">
                        <img src="image/Depositphotos_7733184_original.jpg">
                        <h5>Alan Smith</h5>
                        <p>Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibu. Suspendisse congue 1986 viverra nunc sed ultrices. Aliquam erat volutpat. Sed feugiat semper elit...</p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

