<div class="box_1-cart">
    <div class="box_11">
        <a href="@Url.Action("XemGioHang", "GioHang")">
            <h4><p><span id="simpleCart_quantity" class="simpleCart_quantity" style="color:#FB5982">@ViewBag.TongSoLuong  items</span></p><img src="~/Content/Details/images/bag.png" alt="" width="50" height="50"><div class="clearfix"> </div></h4>
        </a>
    </div>
    <p class="empty"><a href="@Url.Action("XemGioHang", "GioHang")" class="simpleCart_empty" style="color:#FB5982"></a></p>
    <div class="clearfix"> </div>
</div>